.card{
    border: solid 1px #000000;
    border-radius: 10px;
    width: 20%;
    margin: 5px;
    background-color: #e9c46a;
    box-shadow: 0 3px 3px 0 #000000;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 6px 6px 0 #000000;
}

.card-title{
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0.5px 0.5px #000000;
}

.card-body, card-date {
    color: #000000;
    font-size: 20px;
}