.dateObject {
    margin: 5px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: Arial, serif;
    box-sizing: border-box;
    border-width: 0.5px;
    border-radius: 3px;
}

#contentObject {
    margin: 5px;
    width: 200px;
    height: 200px;
    font-size: 20px;
    font-family: Arial, serif;
    box-sizing: border-box;
    border-width: 0.5px;
    border-radius: 3px;
}